# Sello de Propiedad Intelectual - chrome-mobile-es-419
# Propietario: Ricardo Moran

* @moranricardo @ricardomoranbot
lecciones/* @moranricardo @ricardomoranbot
.github/* @moranricardo @ricardomoranbot
src/* @moranricardo @ricardomoranbot
