# Dependencias
node_modules/

# Entorno y Secretos
.env
.env.local
.env.*.local

# Python y Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.cache/

# Archivos Temporales y Logs
logs/
*.log
dump/
*.tar.gz
*.tmp

# Cobertura y Telemetría Temporal
coverage/
.nyc_output/

# Archivos de Sistema Operativo y Editores
.DS_Store
Thumbs.db
.vscode/
.idea/
